<!-- templates/dashboard.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/dashboard.css') }}">
    <title>Admin Dashboard</title>
</head>
<body>
    <section id="welcome-section">
        <h1>Bienvenido {{ user.first_name }}!</h1>
        <p>Rol: {{ user.role }}</p>
    </section>

    <section id="general-stats">
        <h2>Estadisticas Generales</h2>
        <ul>
            <li>Usuarios Registrados: {{ total_users }}</li>
            <li>Habitaciones Registradas: {{ total_rooms }}</li>
            <li>Cantidad de Huespedes: {{ total_guests }}</li>
            <li>Cantidad de Reservaciones: {{ total_reservations }}</li>
        </ul>
    </section>

    <div class='grid-container'>
        <section id="manage-users" class="container">
            <h2>Gestion de Usuarios</h2>
            <ul>
                <li><a href="{{ url_for('view_users') }}" class="dashboard-button">Ver Usuarios</a></li>
                <li><a href="{{ url_for('add_user') }}" class="dashboard-button">Agregar Usuarios</a></li>
                <li><a href="{{ url_for('edit_user') }}" class="dashboard-button">Modificar Usuarios</a></li>
                <li><a href="{{ url_for('delete_user') }}" class="dashboard-button">Eliminar Usuarios</a></li>
            </ul>
        </section>

        <section id="manage-rooms" class="container">
            <h2>Gestion de Habitaciones</h2>
            <ul>
                <li><a href="{{ url_for('list_rooms') }}" class="dashboard-button">Ver Habitaciones</a></li>
                <li><a href="{{ url_for('add_room') }}" class="dashboard-button">Agregar Habitaciones</a></li>
                <li><a href="{{ url_for('edit_room') }}" class="dashboard-button">Modificar Habitaciones</a></li>
                <li><a href="{{ url_for('delete_room') }}" class="dashboard-button">Eliminar Habitaciones</a></li>
            </ul>
        </section>

        <section id="manage-reservations" class="container">
            <h2>Gestion de Reservaciones</h2>
            <ul>
                <li><a href="{{ url_for('list_reservations') }}" class="dashboard-button">Ver Reservas</a></li>
                <li><a href="{{ url_for('book_reservation') }}" class="dashboard-button">Agendar Reservas</a></li>
                <li><a href="{{ url_for('edit_reservation') }}" class="dashboard-button">Modificar Reservas</a></li>
                <li><a href="{{ url_for('cancel_reservation') }}" class="dashboard-button">Cancelar Reservas</a></li>
            </ul>
        </section>
    </div>

    <div class="centered-btn">
        <a href="{{ url_for('logout') }}" class="logout-link dashboard-button">Cerrar Sesion</a>
    </div>
</body>
</html>
