<!-- templates/reservations/book_reservation.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/book_reservation.css') }}">
    <title>Book Reservation</title>
</head>
<body>
    <div class="container">
        <h1>Agendar Reservaciones</h1>
        <form action="{{ url_for('book_reservation') }}" method="post">
            {{ form.hidden_tag() }}
            <div class="form-group">
                <label for="user_id">Usuario:</label>
                {{ form.user_id(class="form-control") }}
            </div>
            <div class="form-group">
                <label for="room">Habitacion:</label>
                {{ form.room_id(class="form-control") }}
            </div>
            <div class="form-group">
                <label for="num_people">Número de Personas:</label>
                {{ form.num_people(class="form-control") }}
            </div>
            <div class="form-group">
                <label for="check_in">Check-in:</label>
                {{ form.check_in(class="form-control") }}
            </div>
            <div class="form-group">
                <label for="check_out">Check-out:</label>
                {{ form.check_out(class="form-control") }}
            </div>
            <input type="submit" value="Book Reservation" class="btn btn-primary">
        </form>

        <p><a href="{{ url_for('dashboard') }}" class="back-link">Volver al Dashboard</a></p>
    </div>
</body>
</html>
